:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #5C8BD3;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #2b4163;
  --gray-dark: #343a40;
  --primary: #5C8BD3;
  --secondary: #2c3e50;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #3c3c3c;
  text-align: left;
}
body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: linear-gradient(to right bottom, #f3f8f9, #f4f8f9, #f4f7f9, #f5f7f8, #f5f7f8, #f3f6f8, #f2f5f8, #f1f4f8, #eef1f8, #ebeff8, #e9ecf7, #e7e9f7) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


[data-animate] {
  visibility: hidden;
}

.animated {
  visibility: visible;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}
#mainNav {
  background-color: rgba(255,255,255,0);
  transition: background-color ease .5s;
}
#mainNav.navbar-shrink {
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%);
    background-color: #fff;
}

a {
    color: #004EC7;
}

.btn-primary {
    color: #fff;
    background-color: #004EC7;
    border-color: #004EC7;
}
.btn-secondary {
    color: #fff;
    background-color: #2b4163;
    border-color: #2b4163;
}
.btn-secondary:hover, .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle, .btn-secondary.focus, .btn-secondary:focus {
    color: #fff;
    background-color: #3c5c8e;
    border-color: #3c5c8e;
}

.btn-outline-primary {
    color: #004EC7;
    border-color: #004EC7;
}
.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.25rem;
}

.card {
  box-shadow: 0 0 1rem 0 rgb(0 0 0 / 10%);
  border: 0;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 1.2;
}

.portfolio-modal img {
  max-height: 500px;
}

.portfolio-modal ul {
  list-style-type: none;
}
.portfolio-modal li {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.portfolio-modal ul li::before {
  font-family: "Font Awesome 5 Free";
  margin-left: -1.5rem;
  color: #5C8BD3;
  float: left;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

.portfolio-modal ul.list-objective li::before {
    content: '\f06a';
}

.portfolio-modal ul.list-role li::before {
    content: '\f007';
}
.portfolio-modal ul.list-process li::before {
    content: '\f058';
}
.portfolio-modal ul.list-complexities li::before {
    content: '\f0d0';
}
.portfolio-modal ul.list-results li::before {
    content: '\f135';
}

.work-item {
  padding: 1.5rem 1rem 1rem;
  cursor: pointer;
  position: relative;
  top: 0;
  box-shadow: 0 0 1rem 0 rgb(0 0 0 / 10%);
  border-radius: .25rem;
  margin: 1rem 0;
  transition: box-shadow ease .5s;
  background-color: #fff;
}
.work-item:hover {
  box-shadow: 0 0 2rem 0 rgb(0 0 0 / 20%);
}

.work-item-img-wrapper {
  width: 100px;
  height: 70px;
  display: table;
  margin-right: 1rem;
  vertical-align: top;
}
.work-item-img {
  max-width: 100px;
  max-height: 70px;
  margin: 0 auto;
  display: block;
}

.work-item-title {
  font-size: 1.5rem;
  line-height: 2.5rem;
  transition: color ease .5s;
}
.work-item:hover .work-item-title {
  color: #004EC7;
}
@media (max-width: 767px) {
  .work-item-title {
    line-height: 1.5rem;
  }
}

@media (min-width: 992px) {
  .portfolio-modal .portfolio-modal-title {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}
.portfolio-modal .close {
  position: absolute;
  z-index: 1;
  right: 1.5rem;
  top: 1rem;
  font-size: 3rem;
  line-height: 3rem;
  opacity: 1;
}
.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 4rem 1rem;
}

.page-section {
  padding: 6rem 0;
}

.page-section .page-section-heading {
  font-size: 2.25rem;
  line-height: 2rem;
}
@media (min-width: 992px) {
  .page-section .page-section-heading {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}

#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
#mainNav .navbar-brand {
  color: #767676;
}
#mainNav .navbar-nav {
  margin-top: 1rem;
}
#mainNav .navbar-nav li.nav-item a.nav-link {
  color: #fff;
}
#mainNav.navbar-shrink .navbar-nav li.nav-item a.nav-link {
  color: #767676;
}
#mainNav .navbar-nav li.nav-item a.nav-link:hover, #mainNav.navbar-shrink .navbar-nav li.nav-item a.nav-link:hover {
  color: #0069d9;
}
#mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
  color: #767676;
}
#mainNav .navbar-nav li.nav-item a.nav-link.active {
  color: #5C8BD3;
}
#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.8rem;
}
.navbar-expand-lg .navbar-nav {
    flex-direction: row;
}


@media (min-width: 992px) {
  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    transition: padding-top 0.3s, padding-bottom 0.3s;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    transition: font-size 0.3s;
  }
  #mainNav .navbar-nav {
    margin-top: 0;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
    color: #5C8BD3;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus {
    color: #5C8BD3;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
    color: #0069d9;
  }

  #mainNav.navbar-shrink {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
}
.masthead {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    background-image: url(../images/hero.jpg);
}
@media (max-width: 767px) {
  .masthead {
    background-attachment: initial;
  }
}
.masthead, #scene {
  padding-top: calc(30vh + 74px);
  padding-bottom: 6rem;
  min-height: 100vh;
}

.masthead .masthead-heading {
  font-size: 2.75rem;
  line-height: 2.75rem;
}
.masthead .masthead-subheading, p {
  font-size: 1.25rem;
}
.masthead .masthead-avatar {
  border-radius: 50%;
}
@media (max-width: 767px) {
  .masthead .masthead-avatar {
    display: block;
    max-width: 60%;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .masthead .masthead-heading {
    margin-top: 7rem !important;
  }
}
@media (min-width: 992px) {
  .masthead {
    padding-top: calc(20vh + 104px);
    padding-bottom: 6rem;
  }
  .masthead .masthead-heading {
    font-size: 4rem;
    line-height: 3.5rem;
    margin-top: 7rem;
  }
  .masthead .masthead-subheading, p {
    font-size: 1.5rem;
  }
}
@media (max-width: 576px) {
  .masthead {
    padding-top: 104px;
    padding-bottom: 6rem;
    min-height: 0;
  }
  .masthead .bg {
    padding-top: calc(2rem + 104px);
  }
  #scene {
    display: none;
  }
/*  #mainNav {
    background-color: rgba(255,255,255,0);
  }
  #mainNav.navbar-shrink{
    background-color: #fff;
  }*/
}
.linkedin-logo {
  color: #fff;
  background: #0a66c2;
  border-radius: 50%;
  height: 96px;
  width: 96px;
  text-align: center;
  font-size: 3em;
  line-height: 2;
  margin: 0 auto;
}

@media (max-width: 992px) {
  #bonus .card-deck>.card {
    min-width: 323px; 
    margin-bottom: 1rem;
  }
}
#bonus .h4 {
  font-weight: normal;
}
#bonus .card-img-top {
  border-radius: 50%;
  margin: 1rem auto 0;
  height: 140px;
  width: 140px;
}
#bonus .card-footer {
  background-color: #fff;
  border-top: none;
}
.fav-links {
  line-height: 2;
}

footer li {
  padding: 1rem 0;
  margin:; 1rem 0;
}

.copyright {
  background: #ffffff;
  box-shadow: 0 0 1rem 0 rgb(0 0 0 / 10%);
}
