html, body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	height: 100%;
	margin: 0;
	padding: 0;
	color: #666;
}
h1, h2, h3, h4 {
	font-family: 'PT Serif Caption', serif;
}
section {
	min-height: 100vh;
	display: none;
}

.btn-danger {
	background-color: #FF3600;
	border: #FF3600;
}
.btn-primary {
	background-color: #0088EA;
	border: #0088EA;
}
.landing {
	background-image: url('../images/goosemonger.svg');
	background-position: 30% -100%;
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: 200% 102%;
    display: block;
}
@media only screen and (orientation: portrait) {
	.landing {
		background-position: 5% -100%;
	}
}
.landing h1 {
	margin-top: 30vh;
}
.landing img {
	right: 10000px;
	position: absolute;
}
.thought {
/*	height: 100vh;
*/	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,230,230,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(230,230,230,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,230,230,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,230,230,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,230,230,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(230,230,230,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0 );
}
.thought h2 {
	margin: 40vh auto 0;
	max-width: 80%;
}
@media only screen and (orientation: portrait) {
	.thought h2 {
		margin: 30vh auto 30px;
	}
}
@keyframes blink {
    0% {
      opacity: .2;
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: .2;
    }
}
.loading {
	font-size: 4em;
	font-family: 'PT Serif Caption', serif;
}
.loading span {
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}
.loading span:nth-child(2) {
    animation-delay: .2s;
}
.loading span:nth-child(3) {
    animation-delay: .4s;
}
.finish {
	padding: 3vh 0;
}
.art svg {
	-webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	max-width: 80%;
    margin: 3vh auto;
}
@media only screen and (orientation: portrait) {
	.art svg {
		max-width: 100%;
	}
}
.share {
	margin: 3vh auto;
}
.a2a_kit {
	display: inline-block;
}